body {
  min-height: 1000px;
  padding-top: 120px;
  font-family: 'Crimson Text', serif;
}

h1, h2, h3, h4, .navbar {
	font-family: 'Libre Baskerville', serif;
}

.navbar {
	padding-top: 0px;
}

.jumbotron > h1 {
	font-size: 40px;
	text-align: center;
}

.event-listing {
	font-size: 20px;
	text-align: left;
}

.event-listing > .panel-heading {
	font-family: 'Libre Baskerville', serif;
	margin-top: 30px;
	font-size: 30px;
	text-align: center;
}

.event {
	margin-top: 30px;
	font-size: 20px;
	text-align: center;
}

.event > .panel-heading {
	font-family: 'Libre Baskerville', serif;
	font-size: 30px;
	text-align: center;
}

.navbar-header {
	float: right;
}

#logo {
	text-align: center;
}

#logo img {
	width: 40%;
}