body {
  min-height: 1000px;
  padding-top: 120px;
  font-family: 'Crimson Text', serif;
}

h1, h2, h3, h4, .navbar {
	font-family: 'Libre Baskerville', serif;
}

.navbar {
	padding-top: 50px;
}

.jumbotron > h1 {
	font-size: 40px;
	text-align: center;
}

.icon-flipped {
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
}